:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray: #5f6769;
    --sm: 14px;
    --md: 20px;
    --lg: 34px;
}

/* Nav Bar */

.user-nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

.left-nav{
    font-size: var(--lg);
    font-weight: bolder;       
}

.left-nav p{
    margin: auto;
}

.right-nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 60px; 
}

.right-nav ul a{
    text-decoration: none;
    color: var(--black);
    padding: 8px;
    border-radius: 8px;


}

.right-nav ul a:hover{
    border: 1px solid var(--black);
    font-weight: bold;
    cursor: pointer;
    
    
}

.mobile-box{
    display: none;
}

.mobile-box ul{
    list-style: none;
    position: absolute;
    z-index: 2;
    right: 0px;
    height: auto;
    top: 30px;
    background: #FFFFFF;
    width: 250px;
    border: 1px solid var(--black);
    padding: 20px 20px 0 20px;

}

.mobile-box ul a:hover{
    border: 1px solid var(--black);
    font-weight: bold;
}

.right-icon{
    display: none;
}

.inactive{
    display: none;
}


@media (max-width: 640px){

    .right-nav{
        display: none;

    }

    .right-icon{
        display: contents;
    }

    .mobile-box{
        display: contents;
    }
    
    
}
