

.data-monitor{

display: flex;
flex-direction: column;
align-items: baseline;
padding: 10%;
}

.title{
    font-size: var(--lg);
    font-weight: bold;
    text-align: center;
    width: -webkit-fill-available;
}



.user-monitor{
margin-top: 40px;
width: -webkit-fill-available;
display: flex;
flex-direction: column;
}

.items{
margin-bottom: 24px;
}


.user-monitor ul{
list-style: none;
margin: 0;
padding: 0;
}

.item-monitor{
font-size: var(--sm);
color: var(--black);
}

.item-monitor:hover{
font-weight: bold;
 cursor: pointer;
}

.inactive{
    display: none;
}