.data-info{
       
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 10%;
    justify-items: center;
}


.title {
    font-size: var(--lg);
    font-weight: bold;
    text-align: center;
}
/* .user-data{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.user-item{
    font-size: var(--sm);
    font-weight: 50%;
    width: auto;
}

.value{
    font-size: var(--sm);
    color: var(--gray);
}

.user-groups{
    margin-top: 4px;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: baseline;
}
/* 
.user-groups p{
    font-size: var(--md);
    font-weight: bold;        
} */

.user-groups ul{
    list-style: disc;
    margin: 0;
    padding: 0;
    width: auto;
}

.user-groups ul li{
    margin-bottom: 24px;
    margin-left: 16px;
}

.item-group{
    font-size: var(--sm);
    color: var(--black);
    font-weight: 300%;
}

.item-group:hover{
    font-weight: bold;
    cursor: pointer;
}

.inactive{
    display: none;
}